$color-header: rgb(77, 173, 171);
$color-aside: rgb(254, 188, 39);
$color-aside1: rgb(237, 164, 10);

$primary-color: rgb(77, 173, 171);
$secondary-color: #232f3c;
$highlight-color: rgb(37, 160, 157);
$background-color: #fff;


/*.colores {
    background-color: rgb(231, 102, 44);
    background-color: rgb(222, 91, 37);
    background-color: rgb(77, 173, 171);
    background-color: rgb(37, 160, 157);
    background-color: rgb(1, 130, 170);
    background-color: rgb(0, 119, 149);
    background-color: rgb(254, 188, 39);
    background-color: rgb(237, 164, 10);
}*/