.footer {
    width: 100%;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $footer;
    border-top: $borde solid 2px;

    .footer1 {
        text-align: center;

        h2 {
            @each $property, $value in $header-estilo-h1 {
                #{$property}: $value;
            }
        }

        p {
            @extend .p-autor;
        }
    }

    .footer2 {
        align-items: center;
        display: flex;
        text-align: center;

        .nav-destinos {
            @include estilo-menu;
        }
    }

    .footer3 {
        text-align: center;
        display: flex;
    }
}