@media screen and (max-width: 576px) {
    body {
        width: 100%;

        .contenedor {
            max-width: 576px;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "header"
                "main"
                "aside"
                "footer";

            .header {
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                grid-area: header;
                height: 100%;
                padding-bottom: 0px;
                margin-bottom: 0px;
                max-width: 576px;



                h1 {
                    font-size: 1.8rem;
                    text-align: center;
                    padding: 0px;
                    margin: auto;
                }

                .logo {

                    img {
                        width: 200px;
                        padding: 0;
                    }
                }

                .menu {
                    @include estilo-menu;
                    padding-bottom: opx;
                    margin-bottom: 0px;
                    width: 100%;

                    ul {
                        flex-direction: column;
                        text-align: center;
                        background-color: $borde;
                        margin-bottom: 0;

                        li {
                            a {
                                color: $color-aside1;
                            }
                        }
                    }
                }
            }

            .main {
                background-color: white;
                grid-area: main;
                width: 100%;
                margin: 0;
                padding: 0;

                .principal {

                    //INDEX

                    //HERO SECTION

                    .hero-section {
                        height: 400px;
                        padding: 0;
                        margin: 0;
                        margin-bottom: 50px;
                        padding-bottom: 200px;
                        background-image: url(../img/estilo/hero-section.jpg);
                        background-size: cover;

                        .texto-hero-section {


                            .pregunta {
                                color: white;
                                padding: 0;
                                font-size: 3rem;
                                animation: aparecer 0.5s ease-in-out forwards 1s;

                            }

                            .respuesta {
                                color: white;
                                font-size: 2rem;
                            }

                            @keyframes aparecer {
                                0% {
                                    opacity: 0;
                                }

                                100% {
                                    opacity: 1;
                                }
                            }

                            @keyframes aparecer {
                                from {
                                    opacity: 0;
                                    transform: translateY(40px);
                                }

                                to {
                                    opacity: 1;
                                    transform: translateY(0px);
                                }
                            }
                        }
                    }

                    //DESTINOS
                    .tag-destacado {
                        flex-direction: column;
                        border-radius: 0;

                        .tag-destacado-izq {
                            width: 100%;

                            img {
                                width: 100%;
                            }
                        }

                        .tag-destacado-der {
                            width: 100%;
                        }
                    }

                    .tag-3-destacados {
                        flex-direction: column;

                        .tag-3-camping {
                            width: 90%;
                            margin: auto;
                            margin-top: 20px;
                            margin-bottom: 20px;


                            img {
                                width: 90%;
                            }
                        }
                    }

                    //CONSEJOS
                    .tag-consejo {
                        flex-direction: column;
                        width: 100%;
                        margin: 0;
                        padding: 0;

                        p {
                            line-height: 2;
                        }

                        .img {
                            width: 100%;
                            border-radius: 10%;
                            margin-bottom: 50px;
                        }
                    }

                    .checklist {

                        ul {
                            li {
                                p {
                                    display: none;
                                }
                            }
                        }
                    }

                    .tag-2-consejos {
                        flex-direction: column;
                    }

                    //MOTORHOME
                    .tag-iframe {
                        margin: auto;
                        padding: auto;
                        padding-top: 0px;
                        display: flex;
                        flex-direction: row;

                        .iframe {
                            width: 100%;
                            display: flex;
                            flex-direction: column;

                            h4 {
                                text-align: center;
                                padding-top: 0px;
                                background-color: white;
                            }

                            iframe {
                                width: 100%;
                            }
                        }

                        .texto-secciones {
                            display: none;
                        }
                    }

                    .tag-destacado {

                        .img-tag-destacado {
                            width: 100%;

                            img {
                                margin: auto;
                                width: 100%;
                                border-radius: 8%;
                            }
                        }
                    }

                    //CONTACTO
                    .formulario {
                        flex-direction: column;
                        padding-top: 50px;

                        .formulario-izq {
                            width: 100%;
                            margin: auto;

                            h3 {
                                width: 100%;
                            }

                            p {
                                width: 100%;
                            }

                            .medios-de-pago {
                                margin: auto;
                            }
                        }

                        .formulario-der {
                            width: 100%;
                            text-align: center;
                            margin: auto;
                            display: flex;

                            h3 {
                                display: none;
                            }

                            .ocultar {
                                display: inline-block;
                                width: 50%;
                                flex-direction: column;
                                align-items: center;
                                margin: auto;

                                img {
                                    margin: auto;
                                    height: 400px;
                                }
                            }

                            form {
                                width: 50%;
                                align-items: center;

                                .campo {
                                    width: 100%;
                                    text-align: right;
                                    margin: 0;

                                    label {
                                        margin-left: 0;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            //ASIDE

            .aside {
                justify-content: space-evenly;
                grid-area: aside;
                border-left: none;
                border-bottom: $borde solid;
            }

            //FOOTER

            .footer {
                width: 100%;
                grid-area: footer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $footer;
                border-top: $borde solid 2px;

                .footer1 {
                    text-align: center;

                    .h2 {
                        color: white;
                        font-size: 2.5rem;
                        margin-top: 0px;
                        margin-bottom: 40px;
                    }

                    .logo {
                        width: 120px;
                        border-radius: 100%;
                        margin: auto;
                    }
                }

                .footer2 {
                    display: none;
                }

                .footer3 {
                    text-align: center;

                    a {
                        img {
                            width: 70px;
                            padding: 10px;
                            margin-bottom: 20px;
                            border-radius: 40%;
                        }
                    }
                }
            }
        }
    }
}