@media screen and (max-width: 576px) {


    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";

        .header {

            //display: none;
            .navegacion {
                width: 40%;

                .menu {
                    display: flex;
                    flex-direction: column;

                    ul {
                        display: flex;
                        flex-direction: column;

                        li {
                            a {}
                        }
                    }
                }
            }
        }

        .main {
            background-color: #9df0d3;

        }

        .aside {
            justify-content: space-evenly;
            grid-area: aside;
            border-left: none;
            border-bottom: #232f3c solid;
        }

        .footer {
            flex-wrap: wrap;
        }
    }

}