        .tag-destacado {
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-around;
            flex-direction: row;
            background-color: #90d3bb;
            border-radius: 2%;
            border: $naranja solid 2px;

            .tag-destacado-izq {
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40%;


                img {
                    padding: 0;
                    border: $borde solid 1px;
                    border-radius: 5%
                }


                .grupo-boton {
                    text-align: center;
                    padding: 20px;

                    .boton {
                        @include boton-estilo
                    }

                    .volver {
                        display: flex;

                        .boton {
                            @include boton-estilo;
                        }

                    }
                }
            }

            .tag-destacado-der {
                display: flex;
                text-align: left;
                flex-direction: column;
                justify-content: center;
                width: 40%;

                h5 {
                    @extend .h5-comun;
                    background-color: $letra-columna;
                    color: white;
                    padding-bottom: 15px;
                }

                .tabla-caract {
                    display: inline-block;
                    margin-bottom: 20px;

                    tr {


                        th {
                            text-align: left;
                            color: $letra-columna;
                            background-color: $borde;
                            padding: 10px;
                        }

                        td {
                            padding: 10px;
                            font-weight: bold;
                            background-color: #abf9dd;
                        }
                    }
                }

                .carousel {
                    width: 100%;
                    max-height: 200px;
                    margin-bottom: 150px;

                }
            }
        }

        .tag-3-destacados {
            margin: 20px 0 20px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .tag-3-camping {
                background-color: $tag;
                border: solid 1px $naranja;
                border-radius: 8%;
                text-align: center;
                padding-bottom: 20px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

                &:hover {
                    box-shadow: 0 4px 8px $borde;
                    background-color: darken($tag, 10%);
                    transform: scale(1.05);
                }


                .texto-secciones {

                    h3 {
                        @extend .h3-comun;
                        text-align: left;
                        padding-bottom: 50px;
                    }
                }

                .grupo-boton {
                    text-align: center;
                    padding: 20px;

                    .boton {
                        background-color: $footer;
                        color: $tag;

                        &:hover {
                            background-color: naranja;
                            color: #90d3bb;
                        }

                    }
                }
            }
        }