.tag-consejo {
    overflow: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 100px 50px 100px;

    .escalado {
        transition: all, 2s;

        &:hover {

            background-color: darken($fondo-camping, 10%);
            transform: scale(1.4);
        }
    }

    .texto-secciones {

        h2 {
            @extend .h2-comun;
        }

        p {
            @extend .p-comun;
        }
    }
}




@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@mixin animation-delay($delay) {
    animation: fadeIn 1s $delay ease-in-out forwards;
}

.checklist {
    .titulo {
        opacity: 0;
        @include animation-delay(0s);
    }

    ul {
        list-style: none;
        padding: 0;

        .item {
            display: flex;
            align-items: center;
            opacity: 0;
            $item-delay: 1s;

            .item-imagen {
                width: 100px;
            }

            .tilde {
                width: 50px;
            }

            @each $index in (1, 2, 3, 4) {

                &:nth-child(#{$index}) {
                    @include animation-delay($item-delay);
                    $item-delay: $item-delay + 1s;

                    .tilde {
                        opacity: 0;
                        @include animation-delay($item-delay);
                        $item-delay: $item-delay + 0.5s;
                    }
                }
            }
        }
    }
}

.tag-2-consejos {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .tag-2-objetos {
        width: 300px;
        padding: 20px;
        margin: 0;
    }
}