$header-estilo-h1: (
    text-align: left,
    font-size: 2.5rem,
    padding: 27px 0 27px 27px,
    color: white
);

$imagenes-map: (
    "tag-destacado-izq": (width: 340px, padding: 20px, border-radius: 5%),
    "carousel": (border-radius: 10%, height: 300px),
    "tag-3-camping": (width: 300px, padding: 20px, margin: auto, border-radius: 5%),
    "tag-consejo": (width: 200px, height: auto, float: left),
    "tag-2-objetos": (width: 300px, padding: 20px, margin: auto),
    "tag":(width: 300px, pading:0, margin:auto),
    "logo":(width: 120px, border-radius: 100%, ),
    "footer3":(text-align: center, width: 70px, padding: 10px, border-radius: 40%)
);


$fondo-camping: #90d3bb;
$footer: rgb(0, 119, 149);
$tag: #90d3bb;
$naranja: rgb(222, 91, 37);
$borde: #232f3c;
$letra-columna: #9f7171;


$background-body: rgb(255, 251, 240);
$font-primary: Arial, Helvetica, sans-serif;
$font-secondary: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$header-bg: rgb(77, 173, 171);

$highlight-bg: rgb(37, 160, 157);
$button-bg: rgb(0, 119, 149);

$border-color: #232f3c;

$tag-bg: #90d3bb;


$border-radius-camping: 8%;
$text-align-camping: center;
$padding-bottom-camping: 20px;